/* Responsive */


/* PC */
@media(min-width:64em)
{

}

@media(max-width:63.9375em) {
    .btn {
        padding: 15px 16px;
    }

    .contact-form .form-control{
        padding: 15px;
    }
    .social-list{
        font-size: 48px;
    }

    .social-list a {
        margin: 0 8px;
    }
    #nav .subnav a{
        padding: 5px 12px;
    }
    #footer .copyright a{
        padding:12px 0 ;
        display: inline-block;
    }

    .contact-info{
        line-height: 2;
    }
}


/*Tablet */
@media(min-width: 46.25em) and (max-width: 63.9375em)
{
 
}

/* Mobile */
@media(max-width:46.1875em)
{
    .s-full-width {
        width: 100% !important;
    }

    .s-col-full{
        width: 100% !important;
    }

    .s-mt-8 {
        margin-top: 8px !important;
    }
    
    #header {
        overflow: hidden;
    }

    #header .mobile-menu-btn{
        display: block;
    }

    #header .search-btn{
        display: none;
    }

    #nav {
        display: block;
    }

    #nav li a {
        padding: 1px 24px;
    }

    #nav > li {
        display: block;
    }

    #nav > li:first-child {
        display: inline-block;
    }



    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a{
        color: #fff;
        padding: 5px 41px;
    }

    #content .member-item {
        margin-top: 30px;
        width: 100%;
    }

    #content .member-img{
        width: 60%;
    }

    .contact-form {
        margin-top: 32px;
    }
}

